@charset "utf-8";
/*  별모양은 모든태그에 해당 */
* {
    margin:0; padding:0;
    line-height:1em;
    vertical-align: top;
}

html, body {width:100%; height:100%;}
body {font-size:14px;}

span, a, li, td, select {font-family: 'Noto Sans KR', sans-serif;}

li {list-style:none}
a {text-decoration: none; color:#333}

body > div {height:100%}